@font-face {
    font-family: Showcard Gothic;
    src: url(images/SHOWG.TTF);
}
html, body {
    font-family: Showcard Gothic;
    padding: 0;
    margin: 0;
    width: 100%;
}

body {
    background-image: url('../images/background2287.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
div#wrapper {
    margin: 0 auto;
    width: 90%;
    text-align: center;
}


/*Upper part of the field*/
#waitingForPlayer{
    display: none;
}

div#upper-part {
    margin: 0 auto;
    width: 80%;
    height: 275px;

}

button#deal, button#no-deal {
    color: #fff;
    display: inline-block;
    width: 200px;
    font-size: 30px;
    margin-top: 50px;
}

.activeNoDeal{
    border-radius: 5px;
    background: white;
    color: black;
    
}

.activeNoDeal:hover{
    opacity: 0.5;
    cursor: pointer;
}

div#question {
    color: #fff;
    width: 90%;
    font-size: 40px;
    margin: 0 auto;
    position: relative;
    font-family: Showcard Gothic;
    top: 120px;
}

button#deal {
    border: 3px solid black;
    outline: none;
    width: 130px;
    height: 40px;
    position: relative;
    top: -85px;
    left: -30px;
    font-family: Showcard Gothic;
    font-size:27px;
    color:#FF2E4A;
}

.activeDeal{
    border-radius: 5px;
    background: white;
    
}

.activeDeal:hover{
    opacity: 0.5;
    cursor: pointer;
}

div#bg {
    display: inline-block;
}

div#bg img {
    width: 85%;
    height: 220px;
}

button#no-deal {
    border: 3px solid black;
    outline: none;
    width: 130px;
    height: 40px;
    position: relative;
    top: -85px;
    left: 30px;
    font-family: Showcard Gothic;
    font-size:27px;
    color:#FF2E4A;
}

div#upper-part .offerFieldHidden{
    display: none;
}

.offerFieldVisible{
    position: absolute;
    top: 75px;
    right: 450px;
    width: 450px;
    border-radius: 10px;
    border:3px solid black;
    opacity: 0.5;
    background: black;
    color: white;
    font-size: 30px;
    text-transform: capitalize;
    font-family: Showcard Gothic;
}


/*Left side bar*/
div#left {
    float: left;
    width: 280px;
    margin-top:-225px;
}
div.prize{
	/*Center content*/
	/* Internet Explorer 10 */
	display:-ms-flexbox;
	-ms-flex-pack:center;
	-ms-flex-align:center;
	/* Firefox */
	display:-moz-box-flex;
	-moz-box-pack:center;
	-moz-box-align:center;
	/* Safari, Chrome, and Opera */
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	/* W3C */
	display:box;
	box-pack:center;
}

    div#left div.prize {
        width: 90%;
        height: 45px;
        margin-top: 20px;
        margin-left: 20px;
        color: rgb(50, 50, 50);
        font-size: 18px;
        text-transform: capitalize;
    }

/*Right Sidebar*/
div#right {
    float: right;
    width: 280px;
    margin-top:-225px;
}

    div#right div.prize {
        width: 90%;
        height: 45px;
        margin-top: 20px;
        color: rgb(50, 50, 50);
        font-size: 18px;
        text-transform: capitalize;
    }

div#blue div.prize {
    background: linear-gradient(to bottom, #50FAE3, #2CBFAE);
}

div#green div.prize {
    background: linear-gradient(to bottom, #65ADE0, #0F74BD);
}

div#yellow div.prize {
    background: linear-gradient(to bottom, #FA8950, #FA6F50);
}

div#red div.prize {
    background: linear-gradient(to bottom, #F54538, #F5161A);
}

div#blue div.prize, div#green div.prize, div#yellow div.prize, div#red div.prize {
    border-radius: 5px;
    border:3px solid black;
}

.chosenPrizeBlue{
        width: 90%;
        height: 45px;
        margin-top: 20px;
        margin-left:20px;
        color: rgb(50, 50, 50);
        font-size: 18px;
        text-transform: capitalize;
        border-radius: 5px;
        border: 3px solid black;
        background: linear-gradient(to bottom, #50FAE3, #2CBFAE);
        opacity: 0.4;
            filter: alpha(opacity=40);
}

.chosenPrizeGreen{
        width: 90%;
        height: 45px;
        margin-top: 20px;
        margin-left:20px;
        color: rgb(50, 50, 50);
        font-size: 18px;
        text-transform: capitalize;
        border-radius: 5px;
        border: 3px solid black;
        background: linear-gradient(to bottom, #65ADE0, #0F74BD);
        opacity: 0.4;
            filter: alpha(opacity=40);
}

.chosenPrizeYellow{
    width: 90%;
        height: 45px;
        margin-top: 20px;
        color: rgb(50, 50, 50);
        font-size: 18px;
        text-transform: capitalize;
        border-radius: 5px;
        border: 3px solid black;
        background: linear-gradient(to bottom, #FA8950, #FA6F50);
        opacity: 0.4;
            filter: alpha(opacity=40);
}

.chosenPrizeRed{
    width: 90%;
        height: 45px;
        margin-top: 20px;
        color: rgb(50, 50, 50);
        font-size: 18px;
        text-transform: capitalize;
        border-radius: 5px;
        border: 3px solid black;
        background: linear-gradient(to bottom, #F54538, #F5161A);
        opacity: 0.4;
            filter: alpha(opacity=40);
}

div#boxes {
    width: 75%;
    margin: 0 auto;
    margin-top: -80px;
}

div#boxes > button{
    display: inline-block;
    width: 135px;
    height: 105px;
    background-size: cover;
    padding: 52px;
    outline: none;
    border: none;
}

button.closedBox1{
    background: url('../images/box1.png');
    background-size: cover;
}

button.closedBox2{
    background: url('../images/box2.png');
    background-size: cover;
}

button.closedBox3{
    background: url('../images/box3.png');
    background-size: cover;
}

button.closedBox4{
    background: url('../images/box4.png');
    background-size: cover;
}

button.closedBox5{
    background: url('../images/box5.png');
    background-size: cover;
}

button.closedBox6{
    background: url('../images/box6.png');
    background-size: cover;
}

button.closedBox7{
    background: url('../images/box7.png');
    background-size: cover;
}

button.closedBox8{
    background: url('../images/box8.png');
    background-size: cover;
}

button.closedBox9{
    background: url('../images/box9.png');
    background-size: cover;
}

button.closedBox10{
    background: url('../images/box10.png');
    background-size: cover;
}

button.closedBox11{
    background: url('../images/box11.png');
    background-size: cover;
}

button.closedBox12{
    background: url('../images/box12.png');
    background-size: cover;
}

button.closedBox13{
    background: url('../images/box13.png');
    background-size: cover;
}

button.closedBox14{
    background: url('../images/box14.png');
    background-size: cover;
}

button.closedBox15{
    background: url('../images/box15.png');
    background-size: cover;
}

button.closedBox16{
    background: url('../images/box16.png');
    background-size: cover;
}

button.closedBox1:hover, button.closedBox2:hover, button.closedBox3:hover, button.closedBox4:hover, button.closedBox5:hover,
button.closedBox6:hover, button.closedBox7:hover, button.closedBox8:hover, button.closedBox9:hover, button.closedBox10:hover,
button.closedBox11:hover, button.closedBox12:hover, button.closedBox13:hover, button.closedBox14:hover, button.closedBox15:hover,
button.closedBox16:hover{
    opacity: 0.4;
    filter: alpha(opacity=40);
}

button.openedBox{
    background: url('../images/clearBrownBox.png');
    background-size: cover;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

button.players-box{
    background: url('../images/mybox2.png');
    background-size: cover;
    font-size: 0;
}


#btn-rules{
    font-size: 20px;
    color: rgb(53, 53, 53);
    border-radius: 10px;
    position: absolute;
    top: 10px;
    left: 10px;
    border: 0;
    outline: none;
    font-family: Showcard Gothic;
}

#btn-rules:hover{
    cursor: pointer;
}

.rules-hidden{
    display: none;
}

.rules-visible{
    background: rgb(210, 210, 210);
    position: absolute;
    top: 220px;
    left: 500px;
    width: 400px;
    height: 400px;
    overflow: scroll;
    border-radius: 5px;
}

.close{
    width: 20px;
    height: 20px;
}

.close:hover{
    cursor: pointer;
}

.close:active{
    position: relative;
    top: 2px;
}