@font-face {
    font-family: Showcard Gothic;
    src: url(images/SHOWG.TTF);
}

html, body {
            font-family: Showcard Gothic;
            padding: 0;
            margin: 0;
            width: 100%;
        }

        body {
            background-image: url(images/background2287.jpg);
            background-size: cover;
            background-repeat: no-repeat;
        }

       div#wrapper {
         margin: 0 auto;
            width: 90%;
           text-align: center;
       }

         div#boxes {
             width: 50%;
             margin: 0 auto;
         }
 
        img {
            width: 20%;
                    }
        #gameName {
            margin-top: -190px;
            color: #F28772;
        }
        #gameName:hover {
            opacity: 0.4;
            filter: alpha(opacity=40);
        }
        div#upper-part {
           margin: 0 auto;
            width: 30%;
            height: 150px;
            font-size: 33px;
            border:5px solid #9E0AFA;
            margin-top: 70px;
            color:white;
            background-color: black;
            border-radius: 5px;
            margin-bottom: 30px;
       }
        div#left {
            float: left;
            width: 200px;
            margin-top: -193px;
        }
 
            div#left div.prize {
                  position: relative;
                  text-align: center;
                  padding: 12px;
                  margin-bottom: 25px;
                  height: 20px;
                  width: 200px;
                  line-height: 50px;
             }
             div#left div.prize:before {
                  content: '';
                  position: absolute;
                  top: 0;
                  left: 0;
                  height: 100%;
                  width: 51%;
                  background: red;
                  -webkit-transform: skew(0deg, 6deg);
                  -moz-transform: skew(0deg, 6deg);
                  -ms-transform: skew(0deg, 6deg);
                  -o-transform: skew(0deg, 6deg);
                  transform: skew(0deg, 6deg);
                  border-top:3px solid black;
                  border-left:3px solid black;
                  border-bottom:3px solid black;
                  
             }
        div#left div.prize:after {
                 content: '';
                  position: absolute;
                  top: 0;
                  right: 0;
                  height: 100%;
                  width: 50%;
                  background: red;
                  -webkit-transform: skew(0deg, -6deg);
                  -moz-transform: skew(0deg, -6deg);
                  -ms-transform: skew(0deg, -6deg);
                  -o-transform: skew(0deg, -6deg);
                  transform: skew(0deg, -6deg);
                  border-top:3px solid black;
                  border-right:3px solid black;
                  border-bottom:3px solid black;
        }
        div#blue div.prize:before {
            background: linear-gradient(to bottom, #50FAE3, #2CBFAE);
            content: 'some';
            color:white;
            font-size: 30px;
        }
        div#blue div.prize:after {
            background: linear-gradient(to bottom, #50FAE3, #2CBFAE);
            content: 'thing';
            color:white;
            font-size: 30px;
        }
        div#green div.prize:before {
            background: linear-gradient(to bottom, #65ADE0, #0F74BD);
            content: 'some';
            color:white;
            font-size: 30px;
        }
        div#green div.prize:after {
            background: linear-gradient(to bottom, #65ADE0, #0F74BD);
            content: 'thing';
            color:white;
            font-size: 30px;
        }
         div#right {
             float: right;
             width: 200px;
             margin-top: -193px;
         }
         div#right div.prize {
                  position: relative;
                  text-align: center;
                  padding: 12px;
                  margin-bottom: 25px;
                  height: 20px;
                  width: 200px;
                  line-height: 50px;
             }
             div#right div.prize:before {
                 content: '';
                  position: absolute;
                  top: 0;
                  left: 0;
                  height: 100%;
                  width: 51%;
                  background: red;
                  -webkit-transform: skew(0deg, 6deg);
                  -moz-transform: skew(0deg, 6deg);
                  -ms-transform: skew(0deg, 6deg);
                  -o-transform: skew(0deg, 6deg);
                  transform: skew(0deg, 6deg);
                  border-top:3px solid black;
                  border-left:3px solid black;
                  border-bottom:3px solid black;
                  
             }
        div#right div.prize:after {
                 content: '';
                  position: absolute;
                  top: 0;
                  right: 0;
                  height: 100%;
                  width: 50%;
                  background: red;
                  -webkit-transform: skew(0deg, -6deg);
                  -moz-transform: skew(0deg, -6deg);
                  -ms-transform: skew(0deg, -6deg);
                  -o-transform: skew(0deg, -6deg);
                  transform: skew(0deg, -6deg);
                  border-top:3px solid black;
                  border-right:3px solid black;
                  border-bottom:3px solid black;
        }

        div#yellow div.prize:before {
            background: linear-gradient(to bottom, #FA8950, #FA6F50);
            content: 'some';
            color:white;
            font-size: 30px;
        }

        div#yellow div.prize:after {
            background: linear-gradient(to bottom, #FA8950, #FA6F50);
            content: 'thing';
            color:white;
            font-size: 30px;
        }
        div#red div.prize:before {
            background: linear-gradient(to bottom, #F54538, #F5161A);
            content: 'some';
            color:white;
            font-size: 30px;
        }
        div#red div.prize:after {
            background: linear-gradient(to bottom, #F54538, #F5161A);
            content: 'thing';
            color:white;
            font-size: 30px;
        }
         div#deal, div#no-deal {
             color:#fff;
             display: inline-block;
             width: 200px;
             font-size: 40px;
             margin-top: 50px;
         }
 
         div#deal {
            margin-right: 50px;
         }
 
         div#no-deal {
             margin-left: 50px;
         }
 
         div#question {
             color:#fff;
             width: 90%;
             font-size: 40px;
             margin: 0 auto;
         }
         .box:hover {
            
            opacity: 0.4;
            filter: alpha(opacity=40);
         }
         div#upper-part:hover {
            background-color: grey;
         }